/* @media (min-width: 992px) { 
    .global-search-box{
        color: red;
    }
}
@media (max-width: 991px) { 
     
} */

/* breackpoints 
768
992
1200 */



@media (max-width: 991px) { 
    .nav-container{
        padding: 0 1rem;
    }
   .main-menu-wrapper{
    display: none;
   }  
   .hamburger-menu { 
    width: 1.125rem;
    height: 1.25rem;
    position: absolute;
    -webkit-transform: rotate(0deg) translateY(-50%);
    transform: rotate(0deg) translateY(-50%);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    top: 50%;
    right: 1rem;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: .125rem;
    width: 100%;
    background: var(--border-border-strong-01);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}



.hamburger-menu span:first-child {
    top: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center
}

.hamburger-menu span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    width: 75%
}

.hamburger-menu span:nth-child(3) {
    top: 1pc;
    -webkit-transform-origin: left center;
    transform-origin: left center
}

.hamburger-menu.active span:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2px;
    left: 2px
}

.hamburger-menu.active span:nth-child(2) {
    width: 0;
    opacity: 0
}

.hamburger-menu.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px;
    left: 2px
}
.main-menu-wrapper{
    display: block;
    position: absolute;
    right: -320px;
    top: 4.5rem;
    width: 300px;
    transition: right .5s ease-in-out;
}
.main-menu-wrapper.active{
    right: 16px;
}
.main-menu-item{
    display: block;
    margin: 0;
 }
 .main-menu-link{
    position: relative;

}
  .main-menu-link::after{
    content: attr(title);
    color: #000;
    font-size: 14px;
    left: 48px;
    position: absolute;
  }
 
 
}
 
@media (max-width: 767px) { 
    .global-search-box{
        display: none;
    }

}